<!DOCTYPE html>
<html>
<head>

    <!--<script-->
        <!--src="https://code.jquery.com/jquery-3.1.1.min.js"-->
        <!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
        <!--crossorigin="anonymous"></script>-->

    <!--<link rel="manifest" href="/javascripts/manifest.json">-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/GraphlrSocketClient.js"></script>
    <!--<script src="/javascripts/GraphlrPushClient.js"></script>-->
    <script>

        createCookie('laravel_session', 'test123');

        var socket = new GraphlrSocketClient();
        socket.bind('http://localhost:3000', readCookie('laravel_session'));

        socket.subscribe('prepr:538:*', function(data){
            console.log(data);
            console.log('prepr data');
        });
        socket.subscribe('112pers:monitor:testje:*', function(data){
            console.log(data);
            console.log('112pers data');
        });

//        var push = new GraphlrPushClient();
//        push.init('Test Session cookie');
    </script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
</body>
</html>
