<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="dropdown" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Graphlr</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Select Namespace:</a></li>
                <li class="dropdown">
                    <a href="#" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown" id="dropdownToggle1">Dropdown
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownToggle1" id="nspdropdown">
                    </ul>
                </li>
                <script>
                    //Populate dropdown
                    var full = '//'+location.hostname+(location.port ? ':'+location.port: '');
                    $.getJSON(full + "/admin/namespaces", function(data){
                        console.log(data);
                        var dropdown = $("#nspdropdown");
                        for(var i in data){
                            dropdown.append("<li><a data-enviroment='"+data[i].name+"' data-apikey='"+data[i].apiKey+"' onclick='dropdownClick(this)'>"+data[i].name+"</a></li>");
                        }
                    })

                    $("#dropdownToggle1").html(docCookies.getItem("enviroment") + "<b class='caret'></b>");
                    var dropdownClick = function(e){
                        var enviroment = $(e).data("enviroment");
                        var apikey = $(e).data("apikey");
                        docCookies.setItem("enviroment", enviroment);
                        docCookies.setItem("apikey", apikey);
                        console.log("Selected " + enviroment + " " + apikey);
                        $("#dropdownToggle1").html(enviroment + "<b class='caret'></b>");
                        updateInfo(); //Instantly fire the update on the information panel
                        //Disconnect from the old namespace and connect to the new one
                        var full = '//'+location.hostname+(location.port ? ':'+location.port: '');
                        websocket.connect(full + "/" + enviroment);
                    }
                </script>
            </ul>
        </div>
    </div>
</div>